<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_sante">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Esante">
        <activity android:name=".EssayeActivity"/>
        <activity android:name=".ActivityMainListeMedecins"/>
        <activity android:name=".ActivityMainListeSeances"/>
        <activity android:name=".ActivityMainEspacePatient"/>
        <activity android:name=".ActivityMainListeActiviteIntervenant"/>
        <activity android:name=".ActivityMainEspaceIntervenant"/>
        <activity android:name=".ActivityMainEspaceMedecin"/>
        <activity android:name=".ActivityActivites"/>
        <activity android:name=".ActivityParcours"/>
        <activity android:name=".ActivityMainListePatient"/>
        <activity android:name=".ActivityMainListeIntervenant"/>
        <activity android:name=".ActivityMainListeStructure"/>
        <activity android:name=".ActivitySeance"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>